 <div id="myTop" style="left: auto; right: 5px; position: fixed; top: auto; bottom: 10px; z-index: 2147483643; overflow: hidden; display: none; opacity: 1;">
<a onmouseover="this.style.backgroundPosition='-96px 0';" onmouseout="this.style.backgroundPosition='-64px 0';" href="#" title="回到顶部" onclick="UJIAN.backTop();return false;" style="margin-left: 3px; display: block; float: right; outline: none 0px; text-indent: -9999em; width: 32px; height: 32px; background: url(/css/images/2.png) -64px 0px no-repeat scroll transparent;">回到顶部</a>
</div>