#sidebar {
    background: #fff none repeat scroll 0 0;
    margin-top: 40px;
}

.highlight {
    background: #c7edcc none repeat scroll 0 0;
    color: #4d4d4c;
}


#footer {
    background-color: #fff;
    border-top: 1.5px solid #00b32f;
    color: #565a5f;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.foot-count {
    color: #009688;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 5px;
}

#busuanzi_value_page_pv {
    color: #009688;
    font-weight: bold;
}

.highlight {
    color: #4d4d4c;
    background: #c7edcc;
}

#single-meta {
    top: 15px;
    right: 15px;
    float: right;
}

#single-meta .views, #single-meta li a {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    color: #999;
    display: block;
    line-height: 26px;
    margin: 0 5px 0 0;
    padding: 0 10px;
}
#single-meta li {
    float: left; 
}

@-webkit-keyframes mashape-ape-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
@keyframes mashape-ape-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}


 .ape {
   display: block;
    width: 100%;
    max-width: 100%;
    height: 16rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  background-image:  url(/css/images/ape-sprite.png);
  background-size: 200% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  animation: mashape-ape-animation 0.4s steps(2) infinite; 
  animation-play-state: running; 
}

 .ape:hover {
  -webkit-animation-play-state: paused;
}