#sidebar {
    background: #fff none repeat scroll 0 0;
    margin-top: 40px;
}

.highlight {
    background: #c7edcc none repeat scroll 0 0;
    color: #4d4d4c;
}


#footer {
    background-color: #fff;
    border-top: 1.5px solid #00b32f;
    color: #565a5f;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.foot-count {
    color: #009688;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 5px;
}

#busuanzi_value_page_pv {
    color: #009688;
    font-weight: bold;
}

.highlight {
    color: #4d4d4c;
    background: #c7edcc;
}

#single-meta {
    top: 15px;
    right: 15px;
    float: right;
}

#single-meta .views, #single-meta li a {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    color: #999;
    display: block;
    line-height: 26px;
    margin: 0 5px 0 0;
    padding: 0 10px;
}
#single-meta li {
    float: left; 
}